[Unit]
Description=Cloud9 web IDE
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/bin/bash /etc/systemd/system/c9sdk.bash 

[Install]
WantedBy=multi-user.target
